@import url("./fonts/roboto.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #333;
}

.left .container {
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
}

.right .container {
    margin: 0 auto;
    padding: 40px;
}

.app {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}


/* left column */
.left {
    width: 960px;
    padding-top: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.header__button {
    display: none;
}

.get-joke__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 41px;
    padding-top: 78px;
    padding-bottom: 43px;
}

.get-joke__title span {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
}

.get-joke__item {
    margin-bottom: 10px;
}


/* radio inputs */
.radio {
    position: relative;
    margin-top: 1px;
}

.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    padding-left: 34px;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    cursor: pointer;
}

.radio__label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #ABABAB;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: -1px;
    z-index: 1;
    transition: border .1s linear;
}

.radio__label:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #333;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    top: 8px;
    left: 4px;
    z-index: 2;
    transition: opacity .1s linear;
}

.radio__input:checked + .radio__label:before {
    border-color: #333;
}

.radio__input:checked + .radio__label:after {
    opacity: 1;
}


/* inserted radio inputs */
.get-joke__sub-item {
    display: flex;
    margin-top: 21px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.get-joke__sub-item {
    display: none;
}

.radio-inserted {
    position: relative;
    margin-bottom: 1rem;
}

.radio-inserted__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.radio-inserted__label {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ABABAB;
    cursor: pointer;
    padding: 6px 12px;
    border: 2px solid #F8F8F8;
    border-radius: 6px;
}

.radio-inserted__label, .radio-inserted__label:not(last-child) {
    margin-right: 10px;
}

.radio-inserted__input:checked + .radio-inserted__label {
    color: #333333;
}


/* text input */
.text-inserted {
    width: 100%;
    margin-top: -1px;
    margin-left: -1px;
}

.text-inserted__input {
    width: 100%;
    border: 2px solid #333333;
    border-radius: 10px;
    padding: 8px 0 8px 15px;
    outline: none;
}

.text-inserted__input[placeholder] {
    font-size: 16px;
    line-height: 22px;
    color: #ABABAB;
}

.text-inserted .text-inserted__input {
    color: #333;
}


/* get joke button */
.get-joke__btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: linear-gradient(92.01deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    padding: 9px 37px;
    cursor: pointer;
    outline: none;
}


/* jokes DOM */
.jokes {
    padding-top: 40px;
}

.joke {
    padding: 67px 40px 45px 100px;
    background: #F8F8F8;
    border-radius: 20px;
    position: relative;
    margin-bottom: 20px;
    word-break: break-word;
}

.joke::before {
    content: '';
    position: absolute;
    display: block;
    background: url("./img/message.png");
    height: 40px;
    width: 40px;
    top: 67px;
    left: 40px;
}

/* add to fav */
.add-to-fav {
    background: transparent url("img/fav-disabled.png");
    border: none;
    outline: none;
    height: 17px;
    width: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

/* delete fav joke */
.delete-fav {
     background: transparent url("img/fav-enabled.png");
     border: none;
     outline: none;
     height: 17px;
     width: 20px;
     position: absolute;
     right: 40px;
     top: 40px;
     cursor: pointer;
 }

/* necessary to prevent delete fav joke clicking button in left col */
.fav-btn {
    background: transparent url("img/fav-enabled.png");
    border: none;
    outline: none;
    height: 17px;
    width: 20px;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: not-allowed;
}

.joke__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
}

.joke__id img {
    position: relative;
    left: 5px;
    top: 1px;
}

.joke__id a {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #8EA7FF;
}

.joke__text {
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    margin-top: 5px;
}

.joke__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 28px;

}

.joke__updated {
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    margin-bottom: 10px;
}

.joke__category {
    margin-top: -5px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 7px 20px;
}


/* favourite section */
.right {
    width: 480px;
    background: #F8F8F8;
    display: block;
}

.favourite__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ABABAB;
}

.favs {
    padding: 20px 0;
}

.fav-joke {
    padding: 47px 20px 20px 80px;
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    word-break: break-word;
}

.fav-joke::before {
    content: '';
    position: absolute;
    display: block;
    background: url("./img/message.png");
    height: 40px;
    width: 40px;
    top: 47px;
    left: 20px;
}

.fav-joke__id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
}

.fav-joke__id img {
    position: relative;
    left: 5px;
    top: 1px;
}

.fav-joke__id a {
    color: #8EA7FF;
}

.fav-joke__text {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
}

.fav-joke__updated {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    padding-top: 20px;
    color: #ABABAB;
}


/* backdrop */
.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    right: -100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    transition: all .5s ease-in;
}

.backdrop.backdrop-active {
    right: 0;
}


/* burger button */
.burger {
    display: none;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 40px;
    right: 40px;
}

.burger-icon-wrapper {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.burger-icon {
    height: 2px;
    width: 14px;
    background: transparent;
    position: relative;
}

.burger-icon::before {
    content: '';
    height: 2px;
    width: 14px;
    background: #fff;
    position: absolute;
    top: -3px;
    transition: transform .2s ease-in, top .2s linear .2s;
}

.burger-icon::after {
    content: '';
    height: 2px;
    width: 14px;
    background: #fff;
    position: absolute;
    top: 3px;
    transition: transform .2s ease-in, top .2s linear .2s;
}

.burger-icon.burger-icon-active {
    background: transparent;
}

.burger-icon.burger-icon-active::before {
    top: 0;
    transform: rotate(45deg);
    transition: top .2s linear, transform .2s ease-in .2s;
}

.burger-icon.burger-icon-active::after {
    top: 0;
    transform: rotate(-45deg);
    transition: top .2s linear, transform .2s ease-in .2s;
}

.burger-icon-descr {
    margin-left: 10px;
}


/* favs mobile */
.mobile-fav .container {
    padding: 88px 40px 40px;
}

.mobile-fav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    right: -100%;
    z-index: 20;
    background: #F8F8F8;
    transition: all .5s ease-in;
}

.mobile-fav.mobile-fav-active {
    right: 0;
}


/* responsive */
@media (min-width: 320px) and (max-width: 767.98px) {
    .left {
        padding-top: 0;
    }

    .left .container {
        padding: 20px;
    }

    .joke {
        padding: 47px 20px 20px 80px;
    }

    .joke::before {
        left: 20px;
    }

    .img {
        top: 20px;
    }

    .img-fav {
        top: 20px;
        right: 20px;
    }

    .fav-img {
        right: 20px;
        top: 20px;
    }

    .burger {
        top: 20px;
        right: 20px;
    }

    .mobile-fav .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1200px) {
    .burger {
        display: flex;
    }

    .right {
        display: none;
    }
}

